.container {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
    cursor: pointer;

    .top {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 0.9rem;
        color: #777;

        .meta {
            font-size: 0.85rem;
            color: #666;
        }
    }

    .info {
        display: flex;
        flex-direction: row;
        padding: 8px 0px;

        justify-content: flex-start;

        .title {
            font-size: 1.2rem;
            font-weight: bold;
            align-self: center;
        }
    }
    .service {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        margin-bottom: 1rem;

        .rating {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 0.9rem;
            color: #777;
        }
    }
    .tags {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
}

.description {
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #444;
}

.imageWrapper img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
