.Filter {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    padding: 16px;
    gap: 16px;
    user-select: none;
}

.title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #555;
}
