@use '~/constants/styles/variables.scss' as *;

// Container for all reaction icons
.reactions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

// Remove default button styles
.reactions button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

// Highlighted icon
.active {
    color: $accent-first;
    fill: $accent-first;
}

// Normal (gray) icon
.inactive {
    color: $gap;
}
