// Main header, Logo, CTA
$accent-first: "#3E54D3";

// Side button, Hover, menubar
$accent-secondary: "#4F80e2";

// Elements / Sections background, Highlight box, Info card
$element-background: "#15cdca";

// Side footer/background, confirm button
$accent-fourth: "#4fE0B6";

// Base background
$base-background: "#1c1c1d";

// Name, description, display data
$text-info: "#E2E5E9";

// Title, placeholder
$text-element: "#B0B3B8";

// Status colors
$online: "#3fbb46"
$offline: "#FF0D0D"

// Basis colors
$white: "#fff";
$black: "$000"
